BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always
SpaceBeforeParens: Never
ColumnLimit: 120
BreakBeforeBraces: Allman
SpacesBeforeTrailingComments: 2
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: true
BinPackParameters: false
BinPackArguments: false
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializersBeforeComma: true
DerivePointerAlignment: false
PointerAlignment: Left
